{
  "swagger": "2.0",
  "info": {
    "title": "GameRegistry API",
    "description": "us.es ETSII Computer Engineering, Distributed Systems course, a simple information system that stores game sessions.",
    "version": "1.0.0"
  },
  "host": "gameregistry.cloudapp.com",
  "schemes": [
    "http"
  ],
  "basePath": "/api/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/sessions": {
      "get": {
        "summary": "Returns a collection of game sessions.",
        "description": "This resource represents the collection of game sessions. It accepts query arguments for filtering (not implemented or defined as of yet, waiting for the games groups to 'express' their needs).",
        "parameters": [
          {
            "name": "gameregistry-user",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The used identifier used in the Login Server."
          },
          {
            "name": "gameregistry-token",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The token related to the user specified in 'gameregistry-user'."
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "string",
            "description": "Example filter parameter. TODO."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "date",
            "description": "Example filter parameter. TODO."
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "date",
            "description": "Example filter parameter. TODO."
          }
        ],
        "tags": [
          "GameSession"
        ],
        "responses": {
          "200": {
            "description": "A collection of game sessions.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GameSession"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Adds a new session to the game session collection.",
        "description": "The new session will have the end date open. To close it see PUT /sessions/{id}.",
        "parameters": [
          {
            "name": "gameregistry-user",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The used identifier used in the Login Server."
          },
          {
            "name": "gameregistry-token",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The token related to the user specified in 'gameregistry-user'."
          },
          {
            "name": "game session",
            "in": "body",
            "required": true,
            "description": "The game session to add to the system.",
            "schema": {
              "$ref": "#/definitions/GameSession"
            }
          }
        ],
        "tags": [
          "GameSession"
        ],
        "responses": {
          "201": {
            "description": "The game session was successfully added to the server.",
            "schema": {
              "$ref": "#/definitions/GameSession"
            }
          }
        }
      }
    },
    "/sessions/{id}": {
      "get": {
        "summary": "Returns a game session given an id.",
        "parameters": [
          {
            "name": "gameregistry-user",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The used identifier used in the Login Server."
          },
          {
            "name": "gameregistry-token",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The token related to the user specified in 'gameregistry-user'."
          },
          {
            "name": "id",
            "in": "path",
            "description": "The game session identifier.",
            "required": true,
            "type": "number",
            "format": "uuid"
          }
        ],
        "tags": [
          "GameSession"
        ],
        "responses": {
          "200": {
            "description": "The game session is returned.",
            "schema": {
              "$ref": "#/definitions/GameSession"
            }
          }
        }
      },
      "put": {
        "summary": "Replaces the game session identified by 'id' with the included game session.",
        "parameters": [
          {
            "name": "gameregistry-user",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The used identifier used in the Login Server."
          },
          {
            "name": "gameregistry-token",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The token related to the user specified in 'gameregistry-user'."
          },
          {
            "name": "id",
            "in": "path",
            "description": "The game session identifier.",
            "required": true,
            "type": "number",
            "format": "uuid"
          }
        ],
        "tags": [
          "GameSession"
        ],
        "responses": {
          "200": {
            "description": "The game session was replaced.",
            "schema": {
              "$ref": "#/definitions/GameSession"
            }
          },
          "404": {
            "description": "If the game session was not found."
          }
        }
      },
      "delete": {
        "summary": "Removes a game session from the server.",
        "parameters": [
          {
            "name": "gameregistry-user",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The used identifier used in the Login Server."
          },
          {
            "name": "gameregistry-token",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "string",
            "description": "The token related to the user specified in 'gameregistry-user'."
          },
          {
            "name": "id",
            "in": "path",
            "description": "The game session identifier.",
            "required": true,
            "type": "number",
            "format": "uuid"
          }
        ],
        "tags": [
          "GameSession"
        ],
        "responses": {
          "204": {
            "description": "The game session was removed."
          },
          "404": {
            "description": "No game session with the given 'id' has been found."
          }
        }
      }
    }
  },
  "definitions": {
    "GameSession": {
      "properties": {
        "id": {
          "type": "string",
          "description": "el identificador de una sesión de juego"
        },
        "user": {
          "type": "string",
          "description": "el usuario"
        },
        "game": {
          "type": "string",
          "description": "el nombre de juego"
        },
        "start": {
          "type": "string",
          "description": "El inicio de juego"
        },
        "end": {
          "type": "string",
          "description": "El término de juego"
        }
      }
    }
  }
}